.headerButton {
  margin: 0;
  padding: 16px 20px;
  display: flex;
  gap: 8px;
  border: none;
  background: none;
  color: inherit;
  border-radius: 40px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}
