.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrition {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  margin-top: 32px;
}

.nutritionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
