.cards {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-template-rows: auto;
  gap: 32px 24px;
  justify-items: center;
}